.services-content {
  display: flex;
  justify-content: center;
  align-items: stretch;

  gap: 3rem;
}


.services-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.services-content-card > p {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.services-content-card > p > .clr-secondary:first-child {
  margin-right: 1rem;
}


/* tablety */
@media screen and (width <= 62rem) {
  .services-content {
    flex-direction: column;
    gap: 2rem;
  }
}

/* smartfony */
@media screen and (width <= 43rem) {
  .services-content {
    flex-direction: column;
    gap: 1.5rem;
  }
}