#portfolio {
  background: linear-gradient(45deg, var(--color-neutral-darkest), var(--color-neutral-darker), var(--color-neutral-darkest));
}

.portfolio-content {
  display: flex;
  flex-direction: column;

  gap: 3rem;
}


/* szeroki monitor */
@media screen and (width > 82rem) {
  #portfolio {
    margin-block: 6rem;  /* powiększona przerwa pomiedzy sekcjami */
  }
}

/* zwykły monitor */
@media screen and (width <= 82rem) {
  #portfolio {
    margin-block: 5rem;  /* powiększona przerwa pomiedzy sekcjami */
  }
}

/* tablety */
@media screen and (width <= 62rem) {
  #portfolio {
    margin-block: 4rem;  /* powiększona przerwa pomiedzy sekcjami */
  }
  .portfolio-content {
    gap: 2rem;
  }
}

/* smartfony */
@media screen and (width <= 43rem) {
  #portfolio {
    margin-block: 3rem;  /* powiększona przerwa pomiedzy sekcjami */
  }
  .portfolio-content {
    gap: 1.5rem;
  }
}