.desktop {  
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  margin-inline: 2rem;

  background: var(--color-background);
  color: var(--color-neutral-light);

  height: 5rem;
}

.desktop a {
  color: var(--color-neutral-light);
  margin-right: 2rem;
}

.desktop a:hover {
  color: var(--color-secondary);
}

/* .desktop a:focus-within {
  color: var(--color-secondary);
} */


.mobile {
  position: fixed;
  left: 50%;
  bottom: 4rem;

  display: flex;

  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 3rem;

  transform: translateX(-50%);

  background: var(--color-neutral-blur);
  backdrop-filter: blur(1.5rem);
}

.mobile > a {
  font-size: 3rem;

  display: flex;

  padding: 0.5rem 2rem;
  border-radius: 50%;

  background: transparent;
  color: var(--color-primary);
}

.mobile > a:hover {
  color: var(--color-secondary);
}

/* .mobile > a:focus-within {
  color: var(--color-secondary);
} */


/* szeroki monitor */
@media screen and (width > 82rem) {
  section {
    padding: 4rem 5rem;
  }
  section:last-of-type {
    padding-bottom: 8rem;
  }
  section:first-of-type {
    padding-top: 8rem;
  }
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}

/* zwykły monitor */
@media screen and (width <= 82rem) {
  section {
    padding: 4rem 3rem;
  }
  section:last-of-type {
    padding-bottom: 8rem;
  }
  section:first-of-type {
    padding-top: 8rem;
  }
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}

/* tablety */
@media screen and (width <= 62rem) {
  section {
    padding: 3rem 2rem;
  }
  section:last-of-type {
    padding-bottom: 6rem;
  }
  section:first-of-type {
    padding-top: 6rem;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}

/* smartfony */
@media screen and (width <= 43rem) {
  section {
    padding: 3rem 1rem;
  }
  section:last-of-type {
    padding-bottom: 6rem;
  }
  section:first-of-type {
    padding-top: 6rem;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}