#hero {
  background: linear-gradient(45deg, var(--color-secondary), var(--color-neutral));

  font-size: 1.1em;  /** powiększona czcionka */
}


.container-hero {
  flex-direction: row;
  justify-content: space-evenly;
}

.container-hero h4 {
  color: var(--color-neutral-darker);
}

.container-hero h1 {
  color: var(--color-primary);
}

.container-hero h3 {
  color: var(--color-neutral-darker);
}


/* szeroki monitor */
@media screen and (width > 82rem) {
  #hero {
    height: calc(100vh - 5rem);  /* 100vh - wysokość headera */
  }
}

/* zwykły monitor */
@media screen and (width <= 82rem) {
  #hero {
    height: calc(100vh - 5rem);  /* 100vh - wysokość headera */
  }
}

/* tablety */
@media screen and (width <= 62rem) {
  #hero {
    transition: height 200ms ease;  /* animacja */
    height: 100vh;
    height: 100dvh;  /* full wysokość bez górnego paska na mobilkach */
  }
  .container-hero {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
}

/* smartfony */
@media screen and (width <= 43rem) {
  #hero {
    transition: height 200ms ease;  /* animacja */
    height: 100vh;
    height: 100dvh;  /* full wysokość bez górnego paska na mobilkach */
    padding-bottom: 5rem;  /* bardziej sciśnięty content */
  }
  .container-hero {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
}