.contact-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 3rem;
  width: 100%;
}


.contact-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.contact-content-card > .clr-secondary:first-child {
  font-size: 1.5rem;
}


/* tablety */
@media screen and (width <= 62rem) {
  .contact-content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

/* smartfony */
@media screen and (width <= 43rem) {
  .contact-content {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}