/* główny CSS */


/* zmienne: https://colorhunt.co/palettes/dark */
:root {
  --color-background: #03001C;
  --color-neutral: hsl(255, 55%, 26%);
  --color-neutral-light: hsl(255, 55%, 56%);
  --color-neutral-dark: hsl(255, 55%, 16%);
  --color-neutral-blur: rgba(48, 30, 103, 0.2);
  --color-primary: #EEEEEE;
  --color-primary-dark: hsl(0, 0%, 73%);
  --color-secondary: #00ADB5;
  --ff: "Lato", sans-serif;
  --fw: 500;
}


/* główne */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline-color: transparent;
  text-decoration: none;
  list-style: none;
  /* background: rgb(0 100 0 / 0.05) !important; */
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


body {
  font-family: var(--ff);
  font-weight: var(--fw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;

  background: var(--color-background);
  color: var(--color-primary);

  font-size: 1.1rem;
}


/* brak borderu po naciśnięciu na mobilkach */
input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}



/* pomocnicze */
.bg-neutral {
  background: var(--color-neutral);
}
.bg-primary {
  background: var(--color-primary);
}
.clr-neutral {
  color: var(--color-neutral);
}
.clr-primary {
  color: var(--color-primary);
}
.clr-secondary {
  color: var(--color-secondary);
}


/* sekcje */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-primary);
}


/* kontener */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.container h4 {
  font-size: 1.1em;
  color: var(--color-primary-dark);
}

.container h1 {
  font-size: 1.7em;
}

.container h3 {
  font-size: 1.2em;
  color: var(--color-secondary);
}


/* szeroki monitor */
@media screen and (width > 82rem) {
  section {
    padding: 4rem 5rem;
  }
  section:last-of-type {
    padding-bottom: 8rem;
  }
  section:first-of-type {
    padding-block: 6rem;
    margin-bottom: 2rem;
  }
  .container {
    font-size: 1.2rem;
  }
}

/* zwykły monitor */
@media screen and (width <= 82rem) {
  section {
    padding: 4rem 3rem;
  }
  section:last-of-type {
    padding-bottom: 8rem;
  }
  section:first-of-type {
    padding-block: 6rem;
    margin-bottom: 2rem;
  }
  .container {
    font-size: 1rem;
  }
}

/* tablety */
@media screen and (width <= 62rem) {
  section {
    padding: 3rem 2rem;
  }
  section:last-of-type {
    padding-bottom: 6rem;
  }
  section:first-of-type {
    padding-block: 4rem;
    margin-bottom: 1rem;
  }
  .container {
    font-size: 2rem;
  }
}

/* smartfony */
@media screen and (width <= 43rem) {
  section {
    padding: 3rem 1rem;
  }
  section:last-of-type {
    padding-bottom: 6rem;
  }
  section:first-of-type {
    padding-block: 4rem;
    margin-bottom: 1rem;
  }
  .container {
    font-size: 2rem;
  }
}


/* button */
.btn {
  color: var(--color-primary);
  background: var(--color-neutral);
  border: 1px solid var(--color-neutral);

  padding: 0.5em 1em;
  border-radius: 1.5rem;
  white-space: nowrap;
  
  cursor: pointer;
  transition: background-color 400ms ease
}

.btn:hover {
  color: var(--color-neutral);
  background: var(--color-primary);
}

.btn-primary {
  color: var(--color-neutral);
  background: var(--color-secondary);
}