.desktop {  
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  margin-inline: 2rem;

  background: var(--color-neutral-darkest);
  color: var(--color-secondary);

  height: 5rem;  /* wysokość */
}

.desktop a {
  color: var(--color-neutral);
  margin-left: 2rem;
}

.desktop a:hover {
  color: var(--color-secondary);
}


.mobile {
  position: fixed;
  left: 50%;

  display: flex;

  border-radius: 3rem;

  transform: translateX(-50%);

  background: var(--color-blur);
  backdrop-filter: blur(1.5rem);
}

.mobile > a {
  display: flex;

  padding: 0.8rem 1rem;
  border-radius: 50%;

  background: transparent;
  color: var(--color-primary);
}

.mobile > a:hover {
  color: var(--color-secondary);
}


/* szeroki monitor */
@media screen and (width > 82rem) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}

/* zwykły monitor */
@media screen and (width <= 82rem) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}

/* tablety */
@media screen and (width <= 62rem) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    bottom: 5rem;  /* odległość od dołu - wysokość footera */
  }
}

/* smartfony */
@media screen and (width <= 43rem) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    bottom: 3rem;  /* odległość od dołu - wysokość footera */
  }
}