.socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  right: 6rem;
  top: 20vh;  /* położenie */
  
  gap: 1rem;
}


.socials a {
  font-size: 1.4em;  /* większa czcionka */

  color: var(--color-neutral-darkest);
}

.socials a:hover {
  color: var(--color-secondary);
}


/* tablety */
@media screen and (width <= 62rem) {
  .socials {
    display: none;  /* brak dla mobilek */
  }
}

/* smartfony */
@media screen and (width <= 43rem) {
  .socials {
    display: none;  /* brak dla mobilek */
  }
}